* {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-text {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.secondary-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.primary-button {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.secondary-button {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 1em;
}

/* nabber start */

.nabber {
    padding: 44px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nabber-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nabber-left h1 {

    font-size: 45px;
    font-weight: 700;
}

.nabber-left img {
    width: 86.041px;
    height: 40px;
}

.G-color {
    color: #FF42A5;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2.5em;
}

ul li {
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.follow-us {
    /* width: 262px;
    height: 56px; */
    padding: 17px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner start */

.banner {
    padding: 0 240px;
    display: flex;
    justify-content: space-between;

}

.banner-content {
    padding-top: 5em;
}

.banner h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner h1 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#download {
    margin: .5em 0;
}

#supported-online {
    margin-bottom: 1.3em;
}

.banner img {
    width: 500px;
    height: 500px;
}

/* online gaming section */
.game-section {
    padding: 100px 240px;
    text-align: center;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-card {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.box {
    width: 100%;
}

.box img {
    width: 16em;
    height: 300px;
}

.box img:hover {
    border: solid 2px red;
    margin: -2px;
    border-radius: 14px;
    cursor: pointer;
}

/* --------------------------------------
            mobial responsive start
------------------------------------------*/

@media screen and (max-width:576px) {
    nav ul {
        flex-direction: column;
    }

    .nabber {
        flex-direction: column;
        width: 100%;
        padding: 44px 0;

    }

    .follow-us {
        width: 10.2em;
    }

    .nabber-left {
        margin-bottom: 2.5em;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 2em 0 0 0;
        width: 100%;
    }

    .banner img {
        width: 100%;
    }

    .game-section{
        padding: 100px 0;
    }
    .game-card{
        flex-direction: column;
        row-gap: 10px;
    }
    .box p{
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }
}

/* --------------------------------------
            tablet responsive
------------------------------------------*/

@media screen and (min-width:576px) and (max-width:768px) {
    .nabber {
        flex-direction: column;

    }

    .follow-us {
        width: 11.5em;

    }

    .nabber-left {
        margin-bottom: 2.5em;
    }

    .banner {
        padding: 0 50px;
        /* width: 100%; */
    }

    .banner img {
        width: 100%;

    }
    .game-section{
        padding: 100px 0;
    }
    .game-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .box p{
        width: 75%;
        margin: auto;
        margin-bottom: 10px;
    }
}